STRAVA_CLIENT_ID=bfa829c3ca26dc88066d21c90e98488352bd1aeb 
STRAVA_CLIENT_SECRET=3c3c62396ca074b571f962323aca2d158ad13ea9
STRAVA_REFRESH_TOKEN=b6cd0f2ca50c73d63a2070581b95a344c1cbee74
SUPABASE_URL=https://uqtqdkcwlyfthwagiyqa.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxdHFka2N3bHlmdGh3YWdpeXFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3ODIwMzUsImV4cCI6MjA4OTM1ODAzNX0.DegreMKHDQ7kiPVyZQPcrW4dtDXGU2Ssomz1drwLXEA
API_SECRET=ft_secret_2026_padelabarra
TRACKER_API_URL=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
USER_MAX_HR=
USER_AGE=32
